<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shelterconnect">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controller.TestHomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.OpenRequestsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.ClosedRequestsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.items.ReadItemActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.items.CreateItemActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.items.UpdateItemActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.NewRequestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.MakeDonationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.ReceiveItemActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.WorkerListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.MyDonationsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.requests.GetRequestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.requests.CreateRequestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.requests.DeleteRequestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.requests.UpdateRequestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.DonorHomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.WorkerHomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.OrganizerHomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.WorkerListDeleteActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".controller.requests.DonorGetRequestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.requests.OrganizerGetRequestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.requests.WorkerGetRequestActivity"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>